@import "vars";

@media screen and (max-width: $breakpoint-tablet) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-slider {
    &__item {
      &-text {
        font-size: 33px;
        margin-left: 140px;
      }
    }
  }

  .title {
    padding: 20px 0;

    &__content {
      &-img {
        transform: scale(.7);
      }

      &-text {
        font-size: $secondText_fontSize768;
        margin-left: 10px;
      }
    }

    &--dash:after {
      padding-top: 15px;
    }
  }

  .header {
    height: 85px;

    &__content {
      height: 85px;
    }

    &__search {
      display: none;
    }

    .container {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    &__menu {
      padding: 0 30px;
      font-size: $regularTextFontSize;
    }

    &__logo {
      height: 85px;

      &-plug {
        width: 115px;
        height: 85px;
      }

      &-img {
        width: 115px;
        height: 85px;
      }
    }
  }

  .nav-bar {
    width: 115px;

    &__inner {
      padding-top: 25px;
      margin-left: -20px;
    }

    &-link {
      font-size: $secondText_fontSize768;
    }

    &__list .dashed-line:nth-child(1):after {
      padding-top: 0px;
    }

    &__list {
      &-socialBox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 75%;
      }

      &-item {
        padding: 0;
      }
    }

    &__toggle-btn {
      right: 0;
      transform: scale(.8);
    }

    &.closeNav {
      .nav-bar__toggle-btn {
        right: auto;
        transform: scale(.8);

        &-text {
          display: none;
        }
      }
    }
  }


  .dashed-line:after {
    width: 40px;
  }

  .closeNav {
    width: 15px;
  }

  .main-slider-dots {
    display: none !important;
  }

  .newsletter {
    max-width: 600px;

    &__inner {
      width: 81%;

      &-text {
        font-size: $secondText_fontSize768;
      }

      &-text span {
        display: none;
      }

      &-text:after {
        content: 'Newsletter?';
        font-size: $secondText_fontSize768;
      }

      &-input {
        width: 62%;
      }
    }

    &-btn {
      width: 17%;
      font-size: $secondText_fontSize768;
    }
  }

  .industries {
    padding-bottom: 40px;

    &__content {
      grid-template-rows: repeat(3, 90px);
      grid-gap: 15px;

      &-item:before {
        background: rgba(0, 0, 0, 0.3);
      }

      &-text {
        font-size: 12.5px;
      }
    }

    &__text {
      display: none;
    }
  }

  .products {
    padding-bottom: 100px;

    &__content {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 25px;
      padding-top: 40px;

      &-item {
        width: 95px;
        height: 95px;
      }

      &-text {
        font-size: 12.5px;
      }
    }

    &__text {
      display: none;
    }
  }

  .services {
    padding-bottom: 60px;

    &__text {
      display: none;
    }

    &__content {
      padding-bottom: 0;

      &-column {
        width: 100%;
      }

      &__item {
        flex-direction: row;

        &-img {
          margin-right: 10px;
        }
      }

    }
  }

  .news {
    padding-bottom: 85px;

    &__slider {
      padding-top: 60px;

      &__item {
        padding-top: 0;
        font-size: 12.5px;

        &-text span {
          display: none;
        }

        &-title {
          margin-top: 2px;
          font-size: 12.5px;
        }

        &-date {
          padding-top: 20px;
          font-size: 12.5px;
        }

        &-img {
          width: 115px;
          height: 115px;
        }

      }
    }
  }

  .contact {
    font-size: 12.5px;

    &-container {
      max-width: 600px;

      & .title--dash-contactPadding {
        display: none;
      }
    }

    &__content {
    }

    &__btn {
      display: none;
    }

    &__hidden {
      display: flex;
    }
  }

  .contact__content {
    display: none;
  }

}

@media screen and (max-width: $breakpoint-mobile) {

  .container {
    max-width: none;
  }

  .header {
    height: 30px;

    &__menu {
      display: none;
    }

    &__content {
      height: 30px;
    }

    &__logo {
      width: 130px;
      left: 95px;

      &-plug {
        display: none;
      }
    }
  }

  .closeNav{
    width: 15px !important;
  }

  .nav-bar {
    width: 90px;
    height: 430px;
    position: absolute;
    top: 30px;

    &-link {
      font-size: 12.5px;
    }

    &__list {
      &-socialBox {
        flex-direction: row;
      }
    }
  }

  .main-slider {
    &__item {
      height: 430px;

      &-text {
        display: none;
      }
    }
  }

  .newsletter {
    max-width: 290px;
    height: 30px;

    &__inner {
      padding: 5px;
      width: 78%;

      &-input {
        height: 20px;
        width: 80%;

        &::placeholder {
          font-size: 12.5px;
          color: $secondText_color;
          padding-left: 5px;
        }
      }

      &-text {
        display: none;
      }

      & svg {
        transform: scale(.5);
      }
    }

    &-btn {
      padding: 0;
      font-size: 12.5px;
      height: auto;
      width: 21%;
    }
  }

  .title {
    padding: 10px 0;

    &--dash:after {
      border-bottom: 2px solid $dashedLine_color;
      opacity: .5;
    }
  }

  .first-section {
    height: 430px;
  }

  .industries {
    padding-bottom: 0px;

    &__content {
      grid-template-rows: repeat(3, 115px);
      grid-gap: 10px;

      &-item:before {
        background: rgba(0, 0, 0, 0.3);
      }

      &-text {
        font-size: 12.5px;
      }

      &-img {
        height: 100%;
      }
    }

    &__text {
      display: none;
    }
  }

  .products {
    padding-bottom: 30px;

    &__content {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-item {
        width: 100%;
        height: auto;
        background: transparent;
        border: none;

      }

      &-text {
        color: $secondText_color;

        & br {
          display: none;
        }
      }
    }
  }

  .services {
    padding-bottom: 40px;

    &__content {
      flex-direction: column;

      &-column {
        height: auto;
      }

      &__item {
        flex-direction: column;
        margin: 15px 0;
      }
    }
  }

  .news {
    &__slider {
      padding-top: 25px;

      &-leftArrow {
        top: 38%;
        left: -35px;
      }

      &-rightArrow {
        top: 38%;
        right: -35px;
      }

      &__item {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .dashed-line {
          display: none;
        }

        &-img {
          width: 165px;
          height: 165px;
        }

        &-link {
          display: none;
        }

        &-text span {
          display: block;
        }
      }
    }
  }

  .contact {
    &-container {
      padding: 0 15px;
    }

    &__top {
      .slick-slider &-column {
        display: flex !important;
        align-items: center
      }
    }

    &__slider {
      &-rightArrow {
        height: 32px;
        position: absolute;
        right: 0;
        top: 35%;
      }

      &-leftArrow {
        height: 32px;
        position: absolute;
        left: 0;
        top: 35%;
      }
    }
  }

  .footer {
    &__slider {
      &-rightArrow {
        right: -45px;
      }

      &-leftArrow {
        left: -45px;
      }
    }
  }

}


