$dark_blue: #0B2D4B;
$header_height: 88px;
$secondText_color: #092B49;
$secondText_fontSize: 21px;
$secondText_fontSize768: 15px;
$dashedLine_color: #456780;
$firstSection_height: 890px;
$titleFontSize: 28px;
$regularTextFontSize: 17px;
$newsSliderTextSize: 14px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;

