@import "vars";
@import "libs";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 10px;
}

.header {
  background-color: $dark_blue;
  height: $header_height;

  &__content {
    width: 100%;
    height: $header_height;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 100%;
    position: absolute;
    z-index: 10;

    &-plug {
      width: 255px;
      max-width: 100%;
    }

    &-img {
      width: 255px;
      height: 185px;
    }
  }

  &__menu {
    width: 680px;
    height: 100%;
    max-width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: $secondText_fontSize;

    &-item {
      padding-top: 16px;
    }

    &-link {
      color: white;
      text-decoration: none;
    }
  }
}

.header__search {
  position: absolute;
  right: 20px;
  top: 36px;
  cursor: pointer;

  &-icon {
    fill: white;
  }

  &-inputBox {
    position: absolute;
    width: 175px;
    height: 30px;
    top: 29px;
    right: 64px;
    opacity: 0;
    transition: opacity .4s;
  }

  &-input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid #334E65;
    background-color: #738B9F;
  }
}

.first-section {
  height: $firstSection_height;
  position: relative;

}

.nav-bar {
  height: 100vh;
  width: 220px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #B7B7BD;
  border-top: 1px solid #B7B7BD;
  position: sticky;
  z-index: 10;
  transition: all 0.5s ease;
  top: 0;
  float: left;
  &__inner {
    padding-top: 90px;
    margin-bottom: 155px;
  }

  &__list {
    padding: 0;
    margin: -1px 0 0 23px;
    list-style-type: none;
    font-weight: 300;
    line-height: 1;

    &-item {
      padding-bottom: 15px;
    }
  }

  &-link {
    color: $secondText_color;
    font-size: $secondText_fontSize;
    text-decoration: none;
    line-height: 19px;

    & path {
      fill: $secondText_color;
    }
  }

  &__toggle-btn {
    fill: #B5C7CF;
    position: absolute;
    right: 10px;
    top: 44%;
    cursor: pointer;
  }
}

.main-slider {
  &__item {
    height: $firstSection_height;
    background-size: 100% 110%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    &-text {
      height: $firstSection_height;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 49px;
      color: white;
      text-align: start;
      margin-left: 354px;
      margin-top: -21px;
      word-spacing: 3px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-title {
      z-index: 10;
    }

    &-description {
      z-index: 10;
    }
  }
}

.dashed-line:after {
  border-bottom: 4px dotted #456780;
  content: "";
  width: 100px;
  display: block;
  padding-top: 15px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.newsletter {
  max-width: 1000px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 35px;

  //display: none;

  & path {
    fill: $secondText_color;
  }

  &__inner {
    width: 855px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;

    &-text {
      font-size: $secondText_fontSize;
      color: $secondText_color;
    }

    &-input {
      width: 372px;
      height: 30px;
      border: 2px solid #8BA2B1;
      border-left: 1px solid #8BA2B1;
      margin-top: 0px;

      &::placeholder{
        font-size: 0;
      }
    }
  }

  &-btn {
    border: 0;
    padding: 10px 15px;
    background-color: #fff;
    font-size: $secondText_fontSize;
    color: $secondText_color;
    cursor: pointer;
    width: 135px;
    height: 55px;
  }
}


.main-slider-dots {
  margin: 0;
  padding: 0;
  bottom: 105px;
  left: 50%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  transform: translate(-50%, 0);
  list-style: none;
  cursor: pointer;

  & button {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 15px;
    font-size: 0;
  }

  & li {
    margin-left: 8px;
  }
}

.main-slider-dots button[aria-selected="true"] {
  background-color: $dark_blue;
  outline: none;
}

.closeNav {
  width: 60px;
}

.closeNav .nav-bar__inner {
  display: none;
}

.closeNav .nav-bar__toggle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeNav .nav-bar__toggle-btn-icon {
  transform: rotate(0.5turn);
  margin-bottom: 10px;
}

.nav-bar__toggle-btn-text {
  font-size: 12.5px;
}

.closeNav .nav-bar__toggle-btn path {
  fill: $dark_blue;
}

.title {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 6px;
  padding-bottom: 48px;


  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      font-size: $titleFontSize;
      text-transform: uppercase;
      color: white;
      font-weight: 100;
      margin-left: 20px;
    }

  }

  &--dash {
    &:after {
      border-bottom: 4px dotted $dashedLine_color;
      content: '';
      width: 100%;
      display: block;
      padding-top: 45px;
    }
  }

}

.industries {
  background-color: $dark_blue;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 25px;
    justify-content: center;
    padding-bottom: 13px;

    &-item {
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: all .3s;
      }

      &:hover:before {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    &-img {
      width: 100%;
    }

    &-text {
      width: 100%;
      position: absolute;
      text-align: center;
      color: white;
      font-size: $secondText_fontSize;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  &__text {
    font-size: $regularTextFontSize;
    color: white;
    column-count: 3;
    column-gap: 25px;
    column-width: 315px;
    padding-bottom: 98px;
    margin-bottom: -17px;
  }
}

.darkBlue-text {
  color: $dark_blue;
}

.products {
  padding-bottom: 140px;

  &__text {
    column-count: 2;
    column-gap: 30px;
    color: $secondText_color;
    font-size: $secondText_fontSize;
    padding-bottom: 110px;
    margin-top: 11px;
    margin-left: 2px;
    line-height: 1.3;
    word-spacing: 6px;

    &-tab {
      padding-left: 30px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 8.5vw);
    justify-content: center;
    grid-gap: 35px 46px;

    &-item {
      width: 8.5vw;
      height: 8.5vw;
      background-color: $dark_blue;
      border: 3px solid black;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      font-size: 1.1vw;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.lowercase--text {
  text-transform: lowercase;
}


.services {
  background-color: $dark_blue;
  padding-bottom: 50px;

  &__content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 110px;
    margin: 0 auto;
    max-width: 880px;

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 16vw;
      height: 322px;

      &:nth-child(2) {
        justify-content: center;
      }
    }

    &__item {
      width: 100%;
      max-width: 300px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-text {
        width: 100%;
        margin: 0;
        font-size: $regularTextFontSize;
        text-align: center;
        color: white;
      }
    }
  }

  &__text {
    font-size: $secondText_fontSize;
    color: white;
    column-count: 2;
    column-gap: 25px;
    margin-left: 4px;
    line-height: 1.2;
  }
}

.mirror {
  transform: scaleX(-1);
}


.news {
  padding-bottom: 320px;

  &__slider {
    width: 84%;
    margin: 0 auto;
    position: relative;
    padding-top: 85px;


    &-rightArrow {
      position: absolute;
      top: 58%;
      right: -73px;
      cursor: pointer;
    }

    &-leftArrow {
      position: absolute;
      top: 58%;
      left: -77px;
      cursor: pointer;
    }

    &__item {
      color: $secondText_color;
      font-size: $newsSliderTextSize;
      font-weight: 400;
      margin-left: 3px;

      &-date {
        padding-top: 35px;
        margin: 0;
      }

      &-title {
        text-transform: uppercase;
        margin: 12px 0 0;
      }

      &-text {
        width: 80%;
        margin-top: 7px;
        margin-bottom: 4px;

      }

      &-link {
        color: $secondText_color;
        text-decoration: none;
      }

      &-img {
        width: 190px;
        height: 190px;
        border-radius: 100%;
      }
    }
  }
}

.contact {
  background-color: $dark_blue;

  &-container {
    max-width: 845px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;

    &-title {
      margin: 0;
      font-weight: 300;
      padding-bottom: 20px;
    }

    &-column {
      display: flex;
      flex-direction: column;
      color: white;
      width: 230px;
    }

    &__address {
      display: flex;
      flex-direction: column;
      padding-bottom: 22px;
    }

    &__phone {
      display: flex;
      flex-direction: column;
      padding-bottom: 21px;

      &-link {
        color: white;
        text-decoration: none;
      }
    }

    &__mail {
      &-link {
        color: white;
        text-decoration: none;
      }
    }
    &-title{
      color: white;
      text-transform: uppercase;
      font-weight: 200;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 422px 125px 210px;
    grid-gap: 34px;
    padding-top: 20px;


    &-column {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;

      &-bottom {
        display: flex;
        justify-content: space-between;
      }
    }

    &-title {
      font-size: $regularTextFontSize;
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      text-align: end;
      padding-bottom: 20px;
    }

    &-input {
      width: 414px;
      height: 37px;
      margin-bottom: 10px;
      align-self: flex-end;

      &::placeholder {
        text-align: end;
        color: #8c8c8c;
        font-weight: 100;
        padding-right: 5px;
      }
    }

    &-textarea {
      width: 414px;
      height: 85px;
      margin-bottom: 16px;
      align-self: flex-end;

      &::placeholder {
        text-align: end;
        color: #8c8c8c;
        font-weight: 100;
        padding-right: 5px;
        padding-top: 10px;
        word-spacing: 5px;
      }
    }

    &-fildset {
      color: white;
      border: none;
      padding: 0;
      margin: 0 0 0 10px;
    }

    &-legend {
      padding-bottom: 18px;
    }

    &-radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: $regularTextFontSize;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        &:hover .contact__content-radio ~ .checkmark {
          background-color: #ccc;
        }

        & .contact__content-radio:checked ~ .checkmark {
          background-color: #2196F3;
        }

        & .contact__content-radio:checked ~ .checkmark:after {
          display: block;
        }

        & .checkmark:after {
          left: 7px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &:nth-child(2) {
        margin-right: 13px;
      }
    }

    &-btn {
      font-size: $regularTextFontSize;
      align-self: start;
      height: 55px;
      width: 120px;
    }

    &-img {
      width: 64px;
      height: 64px;
      margin-bottom: 30px;
      transform: scale(0.8);

    }

    &-imageWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-text {
      color: white;
      line-height: 1.3;
      padding-bottom: 40px;
      margin: 0;

    }

    &-mail {
      color: white;
      padding-bottom: 80px;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 21px;
    padding-left: 8px;

    &-item {
      color: white;
      text-decoration: none;
      text-transform: none;
      font-size: $regularTextFontSize;
    }
  }

  &__hidden{
    padding-top: 15px;
    display: none;
  }

}

.footer {
  height: 145px;
  position: relative;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
  }

  &__slider {
    max-width: 83%;
    margin: 0 auto;

    & img {
      max-width: 80%;
    }

    &-rightArrow {
      position: absolute;
      top: 35%;
      right: -90px;
      cursor: pointer;
      margin-right: 10px;
    }

    &-leftArrow {
      position: absolute;
      top: 35%;
      left: -85px;
      cursor: pointer;
      margin-left: 10px;
    }

    &-item {
      margin: 0 10px;
      height: 75px;
    }
  }
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.w-50:after {
  width: 50px;
}

.text-align-center {
  text-align: start;
}

.text-align-start {
  text-align: start;
}

.title--dash-contactPadding:after {
  padding-top: 12px;
}

.capitalize--text{
  text-transform: capitalize;
}


@import "media";
